<div class="wrapper fadeInDown">
  <div id="formContent">
    <div>
      <h2>房间</h2>
    </div>
    <%= form_for(@room) do |form| %>
      <%= render 'shared/error_messages', object: form.object %>
      <% if @room.errors.any? %>
        <% @room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>

      <%= form.text_field :playlist_id, placeholder: '歌单 ID', class: 'styled-input' %>
      <%= form.submit '创建', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>