<!DOCTYPE html>
<html>
  <head>
    <title>LiveMusic</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= button_to 'Exit', sessions_path, method: :delete, data: { confirm: "确认？" } %>
    <% end %>
    <%= yield %>
    <div id='root' />
  </body>
</html>
