<!DOCTYPE html>
<html>
  <head>
    <title>Live Music</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class='container-fluid'>
      <%= render partial: 'layouts/flash', flash: flash %>
      <div class="p-3 px-md-4 mb-3">
        <%= yield %>
        <div id='root'></div>
      </div>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
